<div class="container">
  <div class="row mt-5 d-flex justify-content-center">
    <form class="col-md-8" [formGroup]="formulario" (ngSubmit)="guardar()">
      <div class="card shadow mb-4">
        <div class="card-header">
          <h2 class="text-center">Formulario</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="name" class="form-label">Nombre</label>
              <input
                formControlName="name"
                type="text"
                name="name"
                class="form-control"
                aria-describedby="helpId"
                [ngClass]="{
                  'is-invalid': getError('name', 'nombre') !== '',
                  'is-valid':
                    getError('name', 'nombre') === '' &&
                    formulario.get('name').touched
                }"
              />
              <small id="helpId" class="text-danger">{{
                getError("name", "nombre")
              }}</small>
            </div>

            <div class="mb-3 col-md-6">
              <label for="lastName" class="form-label">Apellidos</label>
              <input
                formControlName="lastName"
                type="text"
                name="lastName"
                class="form-control"
                aria-describedby="helpId"
                [ngClass]="{
                  'is-invalid': getError('lastName', 'apellidos') !== '',
                  'is-valid':
                    getError('lastName', 'apellidos') === '' &&
                    formulario.get('lastName').touched
                }"
              />
              <small id="helpId" class="text-danger">{{
                getError("lastName", "apellidos")
              }}</small>
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="cedula" class="form-label">Cédula</label>
              <input
                formControlName="cedula"
                type="text"
                name="cedula"
                class="form-control"
                aria-describedby="helpId"
                [ngClass]="{
                  'is-invalid': getError('cedula', 'cedula') !== '',
                  'is-valid':
                    getError('cedula', 'cedula') === '' &&
                    formulario.get('cedula').touched
                }"
              />
              <small id="helpId" class="text-danger">{{
                getError("cedula", "cedula")
              }}</small>
            </div>

            <div class="mb-3 col-md-6">
              <label for="email" class="form-label">Correo Electronico</label>
              <input
                formControlName="email"
                type="email"
                name="email"
                class="form-control"
                aria-describedby="helpId"
                [ngClass]="{
                  'is-invalid': getError('email', 'correo electronico') !== '',
                  'is-valid':
                    getError('email', 'correo electronico') === '' &&
                    formulario.get('email').touched
                }"
              />
              <small id="helpId" class="text-danger">{{
                getError("email", "correo electronico")
              }}</small>
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="birthDate" class="form-label"
                >Fecha de cumpleaños</label
              >
              <input
                formControlName="birthDate"
                type="date"
                name="birthDate"
                class="form-control"
                aria-describedby="helpId"
              />
              <small id="helpId" class="text-danger">{{
                getError("birthDate", "Fecha de cumpleaños")
              }}</small>
            </div>

            <div class="mb-3 col-md-6">
              <label for="createAt" class="form-label">Fecha de creación</label>
              <input
                formControlName="createAt"
                type="date"
                name="createAt"
                class="form-control"
                aria-describedby="helpId"
              />
              <small id="helpId" class="text-danger">{{
                getError("createAt", "Fecha de creación")
              }}</small>
            </div>
          </div>

          <hr />

          <div>
            <h2 class="text-center">Direcciones</h2>
          </div>

          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="alias" class="form-label">Alias</label>
              <input
                formControlName="alias"
                type="text"
                name="alias"
                class="form-control"
                aria-describedby="helpId"
              />
            </div>

            <div class="mb-3 col-md-6">
              <label for="street" class="form-label">Calle</label>
              <input
                formControlName="street"
                type="text"
                name="street"
                class="form-control"
                aria-describedby="helpId"
              />
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="city" class="form-label">Ciudad</label>
              <input
                formControlName="city"
                type="text"
                name="city"
                class="form-control"
                aria-describedby="helpId"
              />
            </div>

            <div class="mb-3 col-md-6">
              <label for="state" class="form-label">Estado</label>
              <input
                formControlName="state"
                type="text"
                name="state"
                class="form-control"
                aria-describedby="helpId"
              />
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="zipCode" class="form-label">Zipcode</label>
              <input
                formControlName="zipCode"
                type="text"
                name="zipCode"
                class="form-control"
                aria-describedby="helpId"
              />
            </div>

            <div class="mb-3 col-md-6">
              <label for="country" class="form-label">País</label>
              <input
                formControlName="country"
                type="text"
                name="country"
                class="form-control"
                aria-describedby="helpId"
              />
            </div>
          </div>

          <div class="d-flex justify-content-sm-start">
            <button
              class="col-3 btn btn-primary mb-4"
              (click)="guardarDireccion()"
            >
              Agregar
            </button>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-hover table-sm">
                  <thead>
                    <tr>
                      <th>Alias</th>
                      <th>Calle</th>
                      <th>Ciudad</th>
                      <th>Estado</th>
                      <th>Zipcode</th>
                      <th>País</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let direccion of direccionesSeleccionadas">
                      <td>{{ direccion.alias }}</td>
                      <td>{{ direccion.street }}</td>
                      <td>{{ direccion.city }}</td>
                      <td>{{ direccion.state }}</td>
                      <td>{{ direccion.zipCode }}</td>
                      <td>{{ direccion.country }}</td>
                      <td>
                        <button class="btn btn-danger">Eliminar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <div>
              <div class="form-check mb-3">
                <input
                  formControlName="active"
                  type="checkbox"
                  name="active"
                  class="form-check-input"
                />
                <label for="active" class="form-check-label mb-2"
                  >Activar cliente</label
                >
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit" class="col-6 btn btn-primary mb-4">
              Enviar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
