<div class="container mt-5" *ngIf="direccion">
  <div class="d-flex justify-content-center">
    <div class="card text-center shadow">
      <div class="card-header">Información</div>
      <div class="card-body">
        <h5 class="card-title">{{ direccion.alias }}</h5>
        <p class="card-text">
          <strong>Street:</strong> {{ direccion.street }} <br />
          <strong>City:</strong> {{ direccion.city }} <br />
          <strong>State:</strong> {{ direccion.state }} <br />
          <strong>ZipCode:</strong> {{ direccion.zipCode }} <br />
          <strong>Country:</strong> {{ direccion.country }}
        </p>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
  </div>
</div>
