<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Alias</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>ZipCode</th>
        <th>Country</th>
        <th>Active</th>
        <th>Editar</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody *ngIf="listaDirecciones">
      <tr *ngFor="let direccion of listaDirecciones">
        <td>{{ direccion.addressId }}</td>
        <td>{{ direccion.alias }}</td>
        <td>{{ direccion.street }}</td>
        <td>{{ direccion.city }}</td>
        <td>{{ direccion.state }}</td>
        <td>{{ direccion.zipCode }}</td>
        <td>{{ direccion.country }}</td>
        <td>
          <ng-container
            *ngIf="
              direccion.active;
              then botonParaActivo;
              else botonParaInactivo
            "
          />

          <ng-template #botonParaActivo>
            <button
              (click)="
                cambiarEstadoActivo(direccion.addressId, !direccion.active)
              "
              [ngClass]="{ 'btn btn-danger': direccion.active }"
            >
              Inhabilitar
            </button>
          </ng-template>

          <ng-template #botonParaInactivo>
            <button
              (click)="
                cambiarEstadoActivo(direccion.addressId, !direccion.active)
              "
              [ngClass]="{ 'btn btn-success': !direccion.active }"
            >
              Habilitar
            </button>
          </ng-template>
        </td>
        <td>
          <a
            class="btn btn-primary"
            [routerLink]="[
              '/direcciones/formulario-direccion',
              direccion.addressId
            ]"
            routerLinkActive="router-link-active"
            >Editar</a
          >
        </td>
        <td>
          <a
            class="btn btn-primary"
            [routerLink]="[
              '/direcciones/direcciones-detalle',
              direccion.addressId
            ]"
            routerLinkActive="router-link-active"
            >Ver</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <div class="col-md-12 d-flex justify-content-center mt-5 mb-3">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Formulario</h5>
          <p class="card-text">Aqui se podran ver registrar las direcciones</p>
          <a
            class="btn btn-primary"
            [routerLink]="['/direcciones/formulario-direccion']"
            routerLinkActive="router-link-active"
            >Formulario</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
