<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Alias</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>ZipCode</th>
        <th>Country</th>
        <th>CreateAt</th>
        <th>Active</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody *ngIf="listaDirecciones | async as direcciones">
      <tr *ngFor="let direccion of direcciones">
        <td>{{ direccion.addressId }}</td>
        <td>{{ direccion.alias }}</td>
        <td>{{ direccion.street }}</td>
        <td>{{ direccion.city }}</td>
        <td>{{ direccion.state }}</td>
        <td>{{ direccion.zipCode }}</td>
        <td>{{ direccion.country }}</td>
        <td>{{ direccion.createAt }}</td>
        <td>
          <ng-container
            *ngIf="
              direccion.active;
              then botonParaActivo;
              else botonParaInactivo
            "
          />

          <ng-template #botonParaActivo>
            <button
              (click)="
                cambiarEstadoActivo(direccion.addressId, !direccion.active)
              "
              [ngClass]="{ 'btn btn-danger': direccion.active }"
            >
              Inhabilitar
            </button>
          </ng-template>

          <ng-template #botonParaInactivo>
            <button
              (click)="
                cambiarEstadoActivo(direccion.addressId, !direccion.active)
              "
              [ngClass]="{ 'btn btn-success': !direccion.active }"
            >
              Habilitar
            </button>
          </ng-template>
        </td>
        <td>
          <a
            class="btn btn-primary"
            [routerLink]="[
              '/direcciones/direcciones-detalle',
              direccion.addressId
            ]"
            routerLinkActive="router-link-active"
            >Ver</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
