<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cédula</th>
        <th>Fecha de Nacimiento</th>
        <th>Email</th>
        <th>Activo</th>
        <th>Editar</th>
        <th>Detalle</th>
        <th>Direcciones</th>
      </tr>
    </thead>
    <tbody *ngIf="listaClientes">
      <tr *ngFor="let cliente of listaClientes">
        <td>{{ cliente.clienteId }}</td>
        <td>{{ cliente.name }}</td>
        <td>{{ cliente.lastName }}</td>
        <td>{{ cliente.cedula }}</td>
        <td>{{ cliente.birthDate }}</td>
        <td>{{ cliente.email }}</td>
        <td>
          <ng-container
            *ngIf="cliente.active; then botonParaActivo; else botonParaInactivo"
          />

          <ng-template #botonParaActivo>
            <button
              (click)="cambiarEstadoActivo(cliente.clienteId, !cliente.active)"
              [ngClass]="{ 'btn btn-danger': cliente.active }"
            >
              Inhabilitar
            </button>
          </ng-template>

          <ng-template #botonParaInactivo>
            <button
              (click)="cambiarEstadoActivo(cliente.clienteId, !cliente.active)"
              [ngClass]="{ 'btn btn-success': !cliente.active }"
            >
              Habilitar
            </button>
          </ng-template>
        </td>
        <td>
          <a
            class="btn btn-info"
            [routerLink]="['/clientes/formulario-cliente', cliente.clienteId]"
            routerLinkActive="router-link-active"
            >Editar</a
          >
        </td>
        <td>
          <a
            class="btn btn-primary"
            [routerLink]="['/clientes/cliente', cliente.clienteId]"
            routerLinkActive="router-link-active"
            >Ver</a
          >
        </td>
        <td>
          <a
            class="btn btn-primary"
            [routerLink]="['/clientes/cliente-direccion', cliente.clienteId]"
            routerLinkActive="router-link-active"
            >Ver</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <div class="col-md-12 d-flex justify-content-center mt-5">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Formulario</h5>
          <p class="card-text">
            Aqui se podran ver registrar los clientes y sus direcciones
          </p>
          <a
            class="btn btn-primary"
            [routerLink]="['/clientes/formulario-cliente']"
            routerLinkActive="router-link-active"
            >Formulario</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
