<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cédula</th>
        <th>Fecha de Nacimiento</th>
        <th>Email</th>
        <th>Activo</th>
        <th>Detalle</th>
        <th>Direcciones</th>
      </tr>
    </thead>
    <!-- Verificamos si la lista de clientes no esta nula, si no esta nula, entonces la volvermos asyncrona y le cambiamos el nombre a clientes -->
    <tbody *ngIf="listaClientes | async as clientes">
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.clienteId }}</td>
        <td>{{ cliente.name }}</td>
        <td>{{ cliente.lastName }}</td>
        <td>{{ cliente.cedula }}</td>
        <td>{{ cliente.birthDate }}</td>
        <td>{{ cliente.email }}</td>
        <td>
          <ng-container
            *ngIf="cliente.active; then botonParaActivo; else botonParaInactivo"
          />

          <ng-template #botonParaActivo>
            <button
              (click)="cambiarEstadoActivo(cliente.clienteId, !cliente.active)"
              [ngClass]="{ 'btn btn-danger': cliente.active }"
            >
              Inhabilitar
            </button>
          </ng-template>

          <ng-template #botonParaInactivo>
            <button
              (click)="cambiarEstadoActivo(cliente.clienteId, !cliente.active)"
              [ngClass]="{ 'btn btn-success': !cliente.active }"
            >
              Habilitar
            </button>
          </ng-template>
        </td>
        <td>
          <a
            class="btn btn-primary"
            [routerLink]="['./cliente', cliente.clienteId]"
            routerLinkActive="router-link-active"
            >Ver</a
          >
        </td>
        <td>
          <a
            class="btn btn-primary"
            [routerLink]="['./cliente-direccion', cliente.clienteId]"
            routerLinkActive="router-link-active"
            >Ver</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
